<div class="no-access">
    <h2>You don't currently have access to that dashboard</h2>
    <p>
        Contact <a href="mailto:landon.watts@sunamerican.com">landon.watts@sunamerican.com</a>
        to request access.
    </p>
</div>
