@page "/"

<PageTitle>SAM Reporting</PageTitle>

<h2>SAM Reporting (Blazor POC)</h2>
<p>Proof-of-concept Blazor Server port of the internal dashboards.</p>
<ul>
    <li><a href="/historical">Historical Loan Production</a></li>
</ul>
